body {
    background-color: #999;
    font-family: "Montserrat", sans-serif !important;
}

.btn-app {
    margin: 0px !important;
}

.ribbon-wrapper {
    right: 4px !important;
    top: -4px !important;
}

.server-nbm {
    margin-bottom: 0px !important;
}

.progress {
    position: relative !important;
}

.progress-text {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 7px;    
}

.container-fluid {
    margin-top: 10px;
}